@using Thunder.Models
@using Microsoft.AspNet.Identity
@model ProfileViewModel
@{
    var profileData = Model.Profile;
    List<Post> posts = Model.Posts;
    var friends = Model.Friends;
    var fullName = string.Concat(profileData.FirstName, " ", profileData.LastName);
    var age = DateTime.Now.Year - profileData.BirthDate.Year;
    var currentUserProfile = (User.Identity.GetUserId() == profileData.UserId);
}
<h2>Profilsida för @fullName</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                @if (Model.Image != null)
                {
                    <img src="@Url.Content(Model.Image.ImagePath)" class="img-thumbnail" alt="profilbild">
                }
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel-heading">
                <b>Presentation</b>
            </div>
            <div class="panel-body">
                <p>@profileData.Presentation</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <b>@fullName</b> - @age år<br />
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong">
                Vänner <span class="badge">@friends.Count</span>
            </button>
            @if (!currentUserProfile)
            {
                @Html.ActionLink("Lägg till vän", "AddFriend", "User",
                                 new { userId = profileData.UserId },
                                 new { @class = "btn btn-default" })
            }
            <br />
            <b>Intressen: <span class="badge">@profileData.Interests.Count</span> </b>
            <ul></ul>
        </div>
        <div class="col-lg-9">
            <h4>@string.Concat(fullName,"s") vägg:</h4>
            @Html.TextArea("postText");
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Vänner</h5>
            </div>
            <div class="modal-body">
                @{ if (friends.Count == 0)
                    {
                        <p>Här var det tomt...</p>
                    }
                    else
                    {
                        <ul>
                            @foreach (var f in friends)
                            {
                                <li>
                                    @Html.ActionLink(f.FullName, "ViewProfile", "User",
                                        new { userId = f.UserId })
                                </li>
                            }
                        </ul>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $('#toggle-friends').click(function (ev) {

        });

        $("#btnAddFriend").click(function () {
        });
    </script>
}

